.loader {
  display: flex;
  gap: 0.25rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  background-color: #121212;

  animation: bounce 500ms infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 100ms;
}

.dot:nth-child(3) {
  animation-delay: 200ms;
}

@keyframes bounce {
  to {
    translate: 0 -0.25rem;
  }
}
